{% extends 'homepage.html' %}
{%load static %}
{% block content %}




<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPWGNL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Loading Spinner -->
<div class="spinner">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4"></div>
</div>
<!--/ Loading Spinner -->
<div id="page" class="hfeed site invisible">
    {% include "include/header.html"%}
    <div id="main" class="site-main" role="main">        <!--Header Section-->
        <section class="fly-section-image fly-header-image fly-section-overlay fly-section-height-md parallax"
                 style="background-image: url('{% static 'images/Photo/photo-header-bg.jpg' %}')">
            <div class="container">
                <div class="row"><h3 class="fly-section-image-title-before">Our</h3>

                    <h2 class="fly-section-image-title-after">PHOTO</h2></div>
            </div>
        </section>
        <!--End Header Section-->        <!--Contact Form Wrap-->
        <div class="fly-divider-space space-md" style="height: 70px"></div>
        <section class="fly-wrap-photo-gallery">
            <div class="container">
                <div class="row">
                    <div class="fly-photo-gallery">
                        <ul class="fly-photo-gallery-nav">
                            <li class="active-category"><a href="#" data-category="all">All</a></li>
                            <li><a href="#" data-category="food">Food</a></li>
                            <li><a href="#" data-category="desert">Desert</a></li>
                            <li><a href="#" data-category="drinks">Drinks</a></li>
                        </ul>
                        <div class="fly-photo-list-item"><a href="{% static 'images/Photo/photo-1.jpg' %}" data-category="all,desert"
                                                            data-rel="prettyPhoto[1]" rel="prettyPhoto[1]"
                                                            class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-1.jpg' %}" alt="Photo 1"/>

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-2.jpg' %}" data-category="all,food" data-rel="prettyPhoto[2]"
                                rel="prettyPhoto[2]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-2.jpg' %}" alt="Photo 2">

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-3.jpg' %}" data-category="all,drinks" data-rel="prettyPhoto[3]"
                                rel="prettyPhoto[3]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-3.jpg' %}" alt="Photo 3">

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-4.jpg' %}" data-category="all,desert" data-rel="prettyPhoto[1]"
                                rel="prettyPhoto[1]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-4.jpg' %}" alt="Photo 4">

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-5.jpg' %}" data-category="all,drinks" data-rel="prettyPhoto[3]"
                                rel="prettyPhoto[3]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-5.jpg' %}" alt="Photo 5">

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-6.jpg' %}" data-category="all,food" data-rel="prettyPhoto[2]"
                                rel="prettyPhoto[2]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-6.jpg' %}" alt="Photo 6">

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-7.jpg' %}" data-category="all,food" data-rel="prettyPhoto[2]"
                                rel="prettyPhoto[2]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-7.jpg' %}" alt="Photo 7">

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-8.jpg' %}" data-category="all,drinks" data-rel="prettyPhoto[3]"
                                rel="prettyPhoto[3]" class="photo photo-width2 active"> <img
                                src="{% static 'images/Photo/photo-8.jpg' %}" alt="Photo 8">

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-9.jpg' %}" data-category="all,food" data-rel="prettyPhoto[2]"
                                rel="prettyPhoto[2]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-9.jpg' %}" alt="Photo 9">

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-10.jpg' %}" data-category="all,desert" data-rel="prettyPhoto[1]"
                                rel="prettyPhoto[1]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-10.jpg' %}" alt="Photo 10"/>

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-11.jpg' %}" data-category="all,food" data-rel="prettyPhoto[2]"
                                rel="prettyPhoto[2]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-11.jpg' %}" alt="Photo 11"/>

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-12.jpg' %}" data-category="all,food" data-rel="prettyPhoto[2]"
                                rel="prettyPhoto[2]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-12.jpg' %}" alt="Photo 12"/>

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-13.jpg' %}" data-category="all,food" data-rel="prettyPhoto[2]"
                                rel="prettyPhoto[2]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-13.jpg' %}" alt="Photo 13"/>

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-14.jpg' %}" data-category="all,food" data-rel="prettyPhoto[2]"
                                rel="prettyPhoto[2]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-14.jpg' %}" alt="Photo 14"/>

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a> <a href="{% static 'images/Photo/photo-15.jpg' %}" data-category="all,desert" data-rel="prettyPhoto[1]"
                                rel="prettyPhoto[1]" class="photo photo-width1 active"> <img
                                src="{% static 'images/Photo/photo-15.jpg' %}" alt="Photo 15"/>

                            <div class="fly-photo-list-overlay">
                                <div class="fly-itable">
                                    <div class="fly-icell"><i class="flyicon-expand"></i></div>
                                </div>
                            </div>
                        </a></div>
                    </div>
                </div>
            </div>
        </section>
        <div class="fly-divider-space space-md"></div>
        <!--End Contact Form Wrap-->        <!--Section Go To Top-->
        <section class="fly-go-to-top fly-theme-color-4">
            <div class="row">
                <div class="fly-divider-space space-sm"></div>
            </div>
            <div class="row"><a class="fly-btn fly-btn-1 fly-btn-md fly-btn-color-2 fly-btn-to-top" href="#main"><span>TOP</span></a>
            </div>
            <div class="row">
                <div class="fly-divider-space space-sm"></div>
            </div>
        </section>
        <!--End Section Go To Top-->
        <!-- Section quick nav -->
        {% include 'include/footer.html'%}

</div>
{% endblock %}