{% extends 'homepage.html' %}
{%load static %}
{% block content %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPWGNL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Loading Spinner -->
<div class="spinner">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4"></div>
</div>
<!--/ Loading Spinner -->
<div id="page" class="hfeed site invisible">
    {% include "include/header.html"%}
    <div id="main" class="site-main" role="main">
        <!--Header Image-->
        <section class="fly-section-image fly-header-image fly-section-overlay fly-section-height-md parallax" style="background-image: url('{% static 'images/Story/header-bg.jpg' %}')">
            <div class="container">
                <div class="row">
                    <h3 class="fly-section-image-title-before">Our</h3>
                    <h2 class="fly-section-image-title-after">STORY</h2>
                </div>
            </div>
        </section>
        <!--End Header Image-->
        <!--Section Story-->
        <section class="fly-story-box container-min fly-theme-color-4">
            <div class="container">
                <div class="row">
                    <div class="fly-divider-space space-md" style="height: 145px;"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="fly-story-box-header"><h3 class="fly-story-box-title">ENGLISH DREAM</h3>

                            <div class="fly-story-box-divider"></div>
                        </div>
                        <div class="fly-story-box-content"> A charming neighbourhood restaurant and bar, located in the
                            heart of the city; a true gateway to gourmet farm-to-table dining, inspired by seasonal
                            produce and the province's local suppliers.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="fly-divider-space space-md" style="height: 145px;"></div>
                </div>
            </div>
        </section>
        <!--End Section Story-->
        <!--Section Image-->
        <section class="fly-section-image fly-section-height-sm" style="background-image: url('{% static 'images/Story/image-1.jpg' %}')"></section>
        <!--End Section Image-->
        <!--Section Info Box-->
        <section class="fly-story-box container-min">
            <div class="container">
                <div class="row">
                    <div class="fly-divider-space space-md" style="height: 145px;"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="fly-story-box-header"><h3 class="fly-story-box-title">ORIGIN AND TERRITORY</h3>

                            <div class="fly-story-box-divider"></div>
                        </div>
                        <div class="fly-story-box-content"> Set in the heart of the city, FlyCoffee is a casual, one of
                            a kind bistro offering a variety of comforting and original English inspired dishes. At
                            FlyCoffee, one can expect to be enthusiastically received by the restaurant’s young and
                            dynamic team.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="fly-divider-space space-md" style="height: 145px;"></div>
                </div>
            </div>
        </section>
        <!--End Section Info Box-->
        <!--Section Image-->
        <section class="fly-section-image fly-section-height-sm" style="background-image: url('{% static 'images/Story/image-2.jpg' %}')"></section>
        <!--End Section Image-->
        <!--Section Info Box-->
        <section class="fly-story-box container-min">
            <div class="container">
                <div class="row">
                    <div class="fly-divider-space space-md" style="height: 145px;"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="fly-story-box-header"><h3 class="fly-story-box-title">THE TEAM</h3>

                            <div class="fly-story-box-divider"></div>
                        </div>
                        <div class="fly-story-box-content"> At the head of the team are the restaurant’s four owners:
                            Victor Becker, Sébastien Carter, Nick Durrell and John Elford. The group shares a true love
                            for the flavourful cooking the Iberian peninsula is known for.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="fly-divider-space space-md" style="height: 145px;"></div>
                </div>
            </div>
        </section>
        <!--End Section Info Box-->
        <!--Section Image-->
        <section class="fly-section-image fly-section-height-sm" style="background-image: url('{% static 'images/Story/image-3.jpg' %}')"></section>
        <!--End Section Image-->
        <!--Section Info Box-->
        <section class="fly-story-box container-min">
            <div class="container">
                <div class="row">
                    <div class="fly-divider-space space-md" style="height: 145px;"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="fly-story-box-header"><h3 class="fly-story-box-title">CULINARY</h3>

                            <div class="fly-story-box-divider"></div>
                        </div>
                        <div class="fly-story-box-content"> The culinary experience at FlyCoffee is enhanced by a
                            courteous service and an appealing decor. The menu’s specialties, as combined with a
                            pleasant atmosphere, are sure to satisfy your longing for delectable food enjoyed in the
                            good company of friends.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="fly-divider-space space-md" style="height: 145px;"></div>
                </div>
            </div>
        </section>
        <!--End Section Info Box-->
        <!--Section Image-->
        <section class="fly-section-image fly-section-height-sm" style="background-image: url('{% static 'images/Story/image-4.jpg' %}')"></section>
        <!--End Section Image-->
        <!--Section Go To Top-->
        <section class="fly-go-to-top fly-theme-color-4">
            <div class="row">
                <div class="fly-divider-space space-sm"></div>
            </div>
            <div class="row"><a class="fly-btn fly-btn-1 fly-btn-md fly-btn-color-2 fly-btn-to-top" href="#main"><span>TOP</span></a>
            </div>
            <div class="row">
                <div class="fly-divider-space space-sm"></div>
            </div>
        </section>
        <!--End Section Go To Top-->
        <!-- Section quick nav -->
        {% include 'include/footer.html'%}

</div>
{% endblock %}